
            h1{
                color:red;
                font-family: monospace;
                font-size: 45px;
            }
            table,th,td{
               border: 2px dotted black; 
            }
        